 /* COLOR */
 :root {
     --spanish-orange: #e66724ff;
     --linen: #ffede1ff;
     --rich-black-fogra-29: #011627ff;
     --fuchsia-crayola: #b45cbaff;
     --dark-magenta: #811790ff;


 }

 /* TYPOGRAPHY */
 html {
     font-size: 100%;
 }

 body {
     background: white;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     line-height: 1.75;
     color: var(--rich-black-fogra-29);
 }

 p {
     margin-bottom: 1rem;
 }

 h1,
 h2,
 h3,
 h4,
 h5 {
     margin: 3rem 0 1.38rem;
     font-family: 'Exo', sans-serif;
     font-weight: 500;
     font-style: italic;
     text-transform: uppercase;
     line-height: 1.3;
 }

 h1 {
     margin-top: 0;
     font-size: 3.052rem;
 }

 h2 {
     font-size: 2.441rem;
     text-align: center;
 }

 h3 {
     font-size: 1.953rem;
 }

 h4 {
     font-size: 1.563rem;
 }

 h5 {
     font-size: 1.25rem;
 }

 small,
 .text_small {
     font-size: 0.8rem;
 }

 .subtitle {
     font-family: 'Codystar', cursive;
     display: block;
     font-size: 0.6em;
     margin-top: 1rem;
 }

 blockquote {
     margin-left: 0;
     margin-right: 0;
     font-size: 1.563rem;
     font-weight: bold;
     font-style: italic;
     font-family: 'Codystar', cursive;
     text-align: center;
    }
    
    .quote-author {
        text-align: center;
        font-size: 1.25rem;
        font-family: 'Exo', sans-serif;
 }

 /* STRUCTURE */
 section {
     padding: 3rem 5%;
 }

 footer {
     padding: 2rem;
     display: flex;
     flex-flow: row wrap;
     background-color: var(--rich-black-fogra-29);
     color: white;
     margin: 0 auto;
 }

 footer > * {
     margin: 1rem auto;
     text-align: center;
 }

 footer a {
     color: var(--fuchsia-crayola);
 }

 footer a.attributions {
     color: white;
 }
 
 footer .button {
     background-color: var(--fuchsia-crayola)
 }

 /* IMAGES */
 img {
     max-width: 100%
 }

 .container {
     /* width: 50%; */
     /* height: 200px; */
     overflow: hidden;
 }

 .container img {
     max-width: 100%;
     height: auto;
     display: block;
 }

 /*  BUTTONS, LINKS, etc */
 button,
 .button {
     padding: 0.7rem 1rem;
     border-radius: 5%;
     text-decoration: none;
 }

 .primary-button {
     color: white;
     background-color: var(--dark-magenta);
 }

 .nav-button {
     justify-self: flex-end;
     margin-left: 1rem;
 }

  a {
      color: var(--dark-magenta);
  }

  a.attributions {
      color: var(--rich-black-fogra-29);
  }

  a:hover,
  a::after {
      opacity: 0.5;
  }


 /* NAV */
 nav>ul>li {
     list-style-type: none;
 }

 nav a {
     text-decoration: none;
 }

 nav>ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding-inline-start: 0;
     margin-top: 2rem;
 }

 /* PAGE SPECIFIC */

 .intro {
     text-align: center;
     margin-top: 3rem;

 }

 .intro>img {
     margin-top: 2rem;
 }

 .testimonial {
     background-color: var(--spanish-orange);
     color: white;
 }

 .testimonial a {
     color: var(--fuchsia-crayola);
 }

 .testimonial .primary-button {
     color: var(--fuchsia-crayola);
 }
 
 .games {
     display: flex;
     flex-flow: row wrap;
     background-color: var(--linen);
 }

 .games > div {
     margin: 1rem auto;
 }


 /* LISTS */
 ul {
     padding-inline-start: 0;
 }

 ul>li {
     list-style-type: none;
 }